.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em ;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descricao__livro-titulo{
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin:0.5em;
}

.descricao__texto{
    font-size: 14px;
}

.botoes__item{
    margin: 0 .5em;
}

.botao__ancora{
    background-color: var(--laranja);
    padding: 1em 2.3em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width:1024px) {
    .card{
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width:1728px){
    .card{
        width: 60%;
        margin-left: 3em;
    }

    .descricao{
        margin-right: 2em;
    }
}